@media  screen and (max-width:768px){

  .card-text{
    font-size:0.5em !important;
  }

}

@media  screen and (max-width:1023px){

  .card-text{
    font-size:0.8em !important;
  }

}

@media  screen and (max-width:1201px){

  .card-text{
    font-size:0.8em !important;
  }

}
