.search{
  background: rgb(228, 226, 226);
  border: none;
  border-radius: 1em;
}
.input-icons i {
  position: absolute;
}

.input-icons {
  width: 100%;
  margin-bottom: 10px;
}

.icon {
  padding: 10px;
  min-width: 40px;
  color: gray;
}
.avatar{
  cursor: pointer;
}

