<div class="row">
  <h4>All Travels and Tours</h4>
  <div class="col-lg-6 col-md-12 col-sm-12 mb-3">
    <div class="card app-border-radius">
      <div class="row p-3">
        <div class="col-5">
          <p class="card-title">
            <i class="fas fa-map-marker-alt"></i> Munich, Germany
          </p>
          <div class="card-text">
            <i class="fas fa-calendar-week"></i> 2019
          </div>
          <div class="card-text">
            Rating:
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
          </div>
          <div class="card-text">
            Purpose: Holyday
          </div>
        </div>
        <div class="col-7">
          <div class="">
            <img src="../../../assets/imgs/munich.jpeg"
            alt="Munich, Germany" width="100%" height="200" class="img-responsive rounded">
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="mb-3 col-lg-6 col-md-12 col-sm-12">
    <div class="card app-border-radius">
      <div class="row p-3">
        <div class="col-5">
          <p class="card-title">
            <i class="fas fa-map-marker-alt"></i> Barcelona, Spain
          </p>
          <div class="card-text">
            <i class="fas fa-calendar-week"></i> 2015
          </div>
          <div class="card-text">
            Rating:
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
          </div>

          <div class="card-text">
            Purpose: Business
          </div>
        </div>

        <div class="col-7">
          <div class="">
            <img src="../../../assets/imgs/barcelona-gaudi-destination-featured.jpg"
             width="100%" height="200" alt="Barcelona, Spain" class="img-responsive rounded">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="mb-3 col-lg-6 col-md-12 col-sm-12">
    <div class="card app-border-radius">
      <div class="row p-3">
        <div class="col-5">
          <p class="card-title">
            <i class="fas fa-map-marker-alt"></i> Saint Petersburg, Moscow
          </p>
          <div class="card-text">
            <i class="fas fa-calendar-week"></i> 2020
          </div>
          <div class="card-text">
            Rating:
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star-half"></i>
          </div>

          <div class="card-text">
            Purpose: Tour
          </div>
        </div>

        <div class="col-7">
          <div class="">
            <img src="../../../assets/imgs/saint-petersburg.jpeg"
            width="100%" height="200" alt="Saint Petersburg, Russia" class="img-responsive rounded">
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="mb-3 col-lg-6 col-md-12 col-sm-12">
    <div class="card app-border-radius">
      <div class="row p-3">
        <div class="col-5">
          <p class="card-title">
            <i class="fas fa-map-marker-alt"></i> Lagos, Nigeria
          </p>
          <div class="card-text">
            <i class="fas fa-calendar-week"></i> 2021
          </div>
          <div class="card-text">
            <div class="card-text">
              Rating:
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star-half"></i>
            </div>
          </div>

          <div class="card-text">
            Purpose: Tour
          </div>
        </div>

        <div class="col-7">
          <div class="">
            <img src="../../../assets/imgs/lagos,nigeria.jpg" width="100%" height="200" alt="Lagos,Nigeria" class="img-responsive rounded">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
