<div class="container text-secondary">
  <div class="mt-3">
    <ul class="nav flex-column text-white">
      <h3 class="mb-5">Logo</h3>
      <li class="nav-item mb-5 p-2" [routerLink]="['/dashboard']" [routerLinkActive]="['bg-white', 'text-dark', 'rounded']">
        <i class="material-icons">dashboard</i>Dashboard
      </li>
      <li class="nav-item mb-5 p-2" [routerLink]="['/travels']" [routerLinkActive]="['bg-white', 'text-dark', 'rounded']">
        <i class="material-icons">flight</i>All Travel & Tours
      </li>
      <li class="nav-item mb-5 p-2" [routerLink]="['/add']" [routerLinkActive]="['bg-white', 'text-dark', 'rounded']">
        <i class="material-icons">add</i>Add Travel
      </li>
      <li class="nav-item mb-5 p-2" [routerLink]="['/info']" [routerLinkActive]="['bg-white', 'text-dark', 'rounded']">
        <i class="material-icons">info</i> My Info
      </li>
      <li class="nav-item mb-5 p-2" [routerLink]="['/settings']" [routerLinkActive]="['bg-white', 'text-dark', 'rounded']">
        <i class="material-icons">settings</i>Settings
      </li>
    </ul>
  </div>
</div>
