<div class="container text-secondary">
  <nav class="mt-3" *ngIf="!isMobile()">
    <a class="mb-5 text-white brand-logo navbar-brand" routerLink="/">
      <img src="../../../assets/imgs/travel-time-logo.jpg" alt="Travel Time Logo" width="75px" height="75px" >
    </a>
    <ul class="nav flex-column text-white">
      <li class="nav-item mb-5 p-2" [routerLink]="['/dashboard']" [routerLinkActive]="['bg-white', 'text-dark', 'rounded']">
        <i class="fas fa-th-large"></i> Dashboard
      </li>
      <li class="nav-item mb-5 p-2" [routerLink]="['/travels']" [routerLinkActive]="['bg-white', 'text-dark', 'rounded']">
        <i class="fas fa-plane"></i> All Travel & Tours
      </li>
      <li class="nav-item mb-5 p-2" [routerLink]="['/add']" [routerLinkActive]="['bg-white', 'text-dark', 'rounded']">
        <i class="fas fa-plus-circle"></i> Add Travel
      </li>
      <li class="nav-item mb-5 p-2" [routerLink]="['/info']" [routerLinkActive]="['bg-white', 'text-dark', 'rounded']">
        <i class="fas fa-info-circle"></i> My Info
      </li>
      <li class="nav-item mb-5 p-2" [routerLink]="['/settings']" [routerLinkActive]="['bg-white', 'text-dark', 'rounded']">
        <i class="fas fa-cog"></i> Settings
      </li>
    </ul>
  </nav>
  <nav *ngIf="isMobile()" class="navbar mb-3 navbar-expand-lg navbar-light bg-transparent">
    <div class="container-fluid">
      <a class="mb-5 text-white brand-logo navbar-brand" routerLink="/">
        <img src="../../../assets/imgs/travel-time-logo.jpg" alt="Travel Time Logo" width="50px" height="50px" >
      </a>
      <span class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <i class="fas fa-ellipsis-v text-white"></i>
      </span>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-link" aria-current="page" [routerLink]="['/dashboard']"
           [routerLinkActive]="['bg-white', 'text-dark', 'rounded']">
           <i class="fas fa-th-large"></i>
          </a>
          <a class="nav-link" [routerLink]="['/travels']" [routerLinkActive]="['bg-white', 'text-dark', 'rounded']">
            <i class="fas fa-plane"></i>
          </a>
          <a class="nav-link" [routerLink]="['/add']" [routerLinkActive]="['bg-white', 'text-dark', 'rounded']">
            <i class="fas fa-plus-circle"></i>
          </a>
          <a class="nav-link" [routerLink]="['/info']" [routerLinkActive]="['bg-white', 'text-dark', 'rounded']">
            <i class="fas fa-info-circle"></i>
          </a>
          <a class="nav-link" [routerLink]="['/settings']" [routerLinkActive]="['bg-white', 'text-dark', 'rounded']">
            <i class="fas fa-cog"></i>
          </a>
        </div>
      </div>
    </div>
  </nav>
</div>
