/* You can add global styles to this file, and also import other style files */

body{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  // background: rgb(245, 240, 240);
}

.app-border-radius{
  border-radius: 1em !important;
}

main{
  min-height: calc(100vh - 73px - 88px);
}

